Repository PSR-Co/SERVER, pull requests merged in 2023-08, with the labels that each got.

#26 [feat] 로그아웃 및 회원탈퇴 API
  src/main/kotlin/com/psr/psr/global/config/JwtSecurityConfig.kt
  src/main/kotlin/com/psr/psr/global/config/WebSecurityConfig.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/global/jwt/JwtFilter.kt
  src/main/kotlin/com/psr/psr/global/jwt/utils/JwtUtils.kt
  src/main/kotlin/com/psr/psr/user/controller/UserController.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🔮 feat, 🐣 chae-eun, 👩🏻‍💻 users

#28 [feat] 상품 메인 조회 API
  build.gradle.kts
  src/main/kotlin/com/psr/psr/global/config/QueryDslConfig.kt
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetProductsRes.kt
  src/main/kotlin/com/psr/psr/product/dto/response/PopularProductDetail.kt
  src/main/kotlin/com/psr/psr/product/dto/response/ProductDetail.kt
  src/main/kotlin/com/psr/psr/product/repository/product/ProductCustom.kt
  src/main/kotlin/com/psr/psr/product/repository/product/ProductRepository.kt
  src/main/kotlin/com/psr/psr/product/repository/product/ProductRepositoryImpl.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
  src/main/kotlin/com/psr/psr/user/repository/UserInterestRepository.kt
Labels: 🔮 feat, 😽 sojung, 🛍️ products

#30 [feat] 문의하기 상세 조회 API 생성
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/inquiry/controller/InquiryController.kt
  src/main/kotlin/com/psr/psr/inquiry/dto/InquiryRes.kt
  src/main/kotlin/com/psr/psr/inquiry/entity/Inquiry.kt
  src/main/kotlin/com/psr/psr/inquiry/repository/InquiryRepository.kt
  src/main/kotlin/com/psr/psr/inquiry/service/InquiryService.kt
Labels: 🔮 feat, ☀️ seoyeon, ✉️ inquires

#32 [feat] 문의하기 목록 조회 API 생성
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/inquiry/controller/InquiryController.kt
  src/main/kotlin/com/psr/psr/inquiry/dto/InquiryListRes.kt
  src/main/kotlin/com/psr/psr/inquiry/entity/Inquiry.kt
  src/main/kotlin/com/psr/psr/inquiry/entity/InquiryStatus.kt
  src/main/kotlin/com/psr/psr/inquiry/repository/InquiryRepository.kt
  src/main/kotlin/com/psr/psr/inquiry/service/InquiryService.kt
Labels: 🔮 feat, ☀️ seoyeon, ✉️ inquires

#34 [feat] 문의하기 답변 등록 API
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/inquiry/controller/InquiryController.kt
  src/main/kotlin/com/psr/psr/inquiry/dto/InquiryAnswerReq.kt
  src/main/kotlin/com/psr/psr/inquiry/entity/Inquiry.kt
  src/main/kotlin/com/psr/psr/inquiry/service/InquiryService.kt
Labels: 🔮 feat, ☀️ seoyeon, ✉️ inquires

#36 [feat] 사업자 조회 API
  build.gradle.kts
  src/main/kotlin/com/psr/psr/global/Constant.kt
  src/main/kotlin/com/psr/psr/global/config/WebSecurityConfig.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/user/controller/UserController.kt
  src/main/kotlin/com/psr/psr/user/dto/UserEidReq.kt
  src/main/kotlin/com/psr/psr/user/dto/eidReq/Business.kt
  src/main/kotlin/com/psr/psr/user/dto/eidReq/BusinessListReq.kt
  src/main/kotlin/com/psr/psr/user/dto/eidReq/BusinessListRes.kt
  src/main/kotlin/com/psr/psr/user/dto/eidReq/BusinessRes.kt
  src/main/kotlin/com/psr/psr/user/dto/eidReq/BusinessStatusRes.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
  src/main/resources/application.yaml
Labels: 🔮 feat, 🐣 chae-eun, 👩🏻‍💻 users

#40 [feat] UserDetailsServiceImpl 수정
  src/main/kotlin/com/psr/psr/global/jwt/UserDetailsServiceImpl.kt
  src/main/kotlin/com/psr/psr/user/entity/BusinessInfo.kt
  src/main/kotlin/com/psr/psr/user/repository/UserRepository.kt
Labels: 🔮 feat, 🐣 chae-eun, 👩🏻‍💻 users

#41 [feat] 사업자 회원가입
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/user/dto/SignUpReq.kt
  src/main/kotlin/com/psr/psr/user/entity/BusinessInfo.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🔮 feat, 🐣 chae-eun, 👩🏻‍💻 users

#43 [feat] 마이 게시글 조회 API
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/dto/response/MyProduct.kt
  src/main/kotlin/com/psr/psr/product/dto/response/PopularProductDetail.kt
  src/main/kotlin/com/psr/psr/product/dto/response/ProductDetail.kt
  src/main/kotlin/com/psr/psr/product/repository/product/ProductImgRepository.kt
  src/main/kotlin/com/psr/psr/product/repository/product/ProductRepository.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
Labels: 🔮 feat, 😽 sojung, 🛍️ products

#47 [feat] 내 정보 불러오기
  src/main/kotlin/com/psr/psr/user/controller/UserController.kt
  src/main/kotlin/com/psr/psr/user/dto/LoginReq.kt
  src/main/kotlin/com/psr/psr/user/dto/MyPageInfoRes.kt
  src/main/kotlin/com/psr/psr/user/dto/SignUpReq.kt
  src/main/kotlin/com/psr/psr/user/dto/UserEidReq.kt
  src/main/kotlin/com/psr/psr/user/dto/UserInterestReq.kt
  src/main/kotlin/com/psr/psr/user/dto/assembler/UserAssembler.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🔮 feat, 🐣 chae-eun, 👩🏻‍💻 users

#49 [feat] 공지사항 API
  src/main/kotlin/com/psr/psr/cs/controller/CsController.kt
  src/main/kotlin/com/psr/psr/cs/dto/NoticeListRes.kt
  src/main/kotlin/com/psr/psr/cs/dto/NoticeRes.kt
  src/main/kotlin/com/psr/psr/cs/dto/assembler/CsAssembler.kt
  src/main/kotlin/com/psr/psr/cs/repository/NoticeRepository.kt
  src/main/kotlin/com/psr/psr/cs/service/CsService.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
Labels: 🔮 feat, 🐣 chae-eun, 👥 cs

#53 [feat] 요청하기 API 생성
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/order/controller/OrderController.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderAssembler.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderReq.kt
  src/main/kotlin/com/psr/psr/order/entity/Order.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/product/repository/product/ProductRepository.kt
Labels: 🔮 feat, ☀️ seoyeon, 👩‍💻 orders

#57 [feat] 요청 상세 조회 API 생성
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/order/controller/OrderController.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderAssembler.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderRes.kt
  src/main/kotlin/com/psr/psr/order/repository/OrderRepository.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/product/repository/product/ProductRepository.kt
Labels: 🔮 feat, ☀️ seoyeon, 👩‍💻 orders

#58 [feat] 토큰 재발급 API
  src/main/kotlin/com/psr/psr/global/config/WebSecurityConfig.kt
  src/main/kotlin/com/psr/psr/global/jwt/dto/TokenDto.kt
  src/main/kotlin/com/psr/psr/global/jwt/dto/TokenRes.kt
  src/main/kotlin/com/psr/psr/global/jwt/utils/JwtUtils.kt
  src/main/kotlin/com/psr/psr/user/controller/UserController.kt
  src/main/kotlin/com/psr/psr/user/dto/assembler/UserAssembler.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🔮 feat, 🐣 chae-eun, 👩🏻‍💻 users

#62 [fix] CS 도메인 예외 처리 및 Res 수정
  src/main/kotlin/com/psr/psr/cs/dto/assembler/CsAssembler.kt
  src/main/kotlin/com/psr/psr/cs/repository/FaqRepository.kt
  src/main/kotlin/com/psr/psr/cs/repository/NoticeRepository.kt
  src/main/kotlin/com/psr/psr/cs/service/CsService.kt
Labels: 🐣 chae-eun, 🕸️ fix, 👥 cs

#63 [refactor] 문의 목록 조회 response 형태 변경
  src/main/kotlin/com/psr/psr/inquiry/controller/InquiryController.kt
  src/main/kotlin/com/psr/psr/inquiry/dto/InquiryAssembler.kt
  src/main/kotlin/com/psr/psr/inquiry/dto/InquiryListRes.kt
  src/main/kotlin/com/psr/psr/inquiry/dto/InquiryRes.kt
  src/main/kotlin/com/psr/psr/inquiry/repository/InquiryRepository.kt
  src/main/kotlin/com/psr/psr/inquiry/service/InquiryService.kt
Labels: ☀️ seoyeon, 🌿 refactor, ✉️ inquires

#65 [feat] 요청 목록 조회 API 생성
  src/main/kotlin/com/psr/psr/cs/service/CsService.kt
  src/main/kotlin/com/psr/psr/global/Constant.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/global/jwt/UserDetailsServiceImpl.kt
  src/main/kotlin/com/psr/psr/inquiry/service/InquiryService.kt
  src/main/kotlin/com/psr/psr/order/controller/OrderController.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderAssembler.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderListComp.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderListRes.kt
  src/main/kotlin/com/psr/psr/order/entity/Order.kt
  src/main/kotlin/com/psr/psr/order/entity/OrderStatus.kt
  src/main/kotlin/com/psr/psr/order/repository/OrderRepository.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
  src/main/kotlin/com/psr/psr/user/controller/UserController.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🔮 feat, ☀️ seoyeon, 👩‍💻 orders

#70 [fix] response 형식 통일
  src/main/kotlin/com/psr/psr/global/dto/BaseResponse.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseRes.kt
  src/main/kotlin/com/psr/psr/global/exception/ExceptionHandler.kt
Labels: 😽 sojung, 🕸️ fix

#71 [feat] 요청 수정 API 생성
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/order/controller/OrderController.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderReq.kt
  src/main/kotlin/com/psr/psr/order/entity/Order.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
Labels: 🔮 feat, ☀️ seoyeon, 👩‍💻 orders

#73 [fix] AccessToken 기간 임시 변경
  src/main/kotlin/com/psr/psr/global/jwt/utils/JwtUtils.kt
Labels: 😽 sojung, 🕸️ fix

#75 [feat] 비밀번호 재설정 / 변경 API
  src/main/kotlin/com/psr/psr/global/config/WebSecurityConfig.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/user/controller/UserController.kt
  src/main/kotlin/com/psr/psr/user/dto/ChangePasswordReq.kt
  src/main/kotlin/com/psr/psr/user/dto/ResetPasswordReq.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🔮 feat, 🐣 chae-eun, 👩🏻‍💻 users

#77 [refactor] 요청 목록 조회 API 페이징 처리 및 요청 상태별 조회 조건 추가
  src/main/kotlin/com/psr/psr/order/controller/OrderController.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderAssembler.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderListComp.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderListRes.kt
  src/main/kotlin/com/psr/psr/order/repository/OrderRepository.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/product/entity/product/Product.kt
  src/main/kotlin/com/psr/psr/product/repository/product/ProductImgRepository.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
Labels: ☀️ seoyeon, 🌿 refactor, 👩‍💻 orders

#80 [fix] 상품 메인 조회 페이징 추가
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetProductsRes.kt
  src/main/kotlin/com/psr/psr/product/repository/product/ProductCustom.kt
  src/main/kotlin/com/psr/psr/product/repository/product/ProductRepositoryImpl.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
Labels: 😽 sojung, 🕸️ fix, 🛍️ products

#81 [feat] 리뷰 등록 API 생성
  src/main/kotlin/com/psr/psr/global/entity/ReportCategory.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderAssembler.kt
  src/main/kotlin/com/psr/psr/order/entity/Order.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/entity/Product.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductImg.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductLike.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductReport.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductCustom.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductImgRepository.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductLikeRepository.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductReportRepository.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductRepository.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductRepositoryImpl.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
  src/main/kotlin/com/psr/psr/review/controller/ReviewController.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewAssembler.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewReq.kt
  src/main/kotlin/com/psr/psr/review/entity/Review.kt
  src/main/kotlin/com/psr/psr/review/entity/ReviewImg.kt
  src/main/kotlin/com/psr/psr/review/entity/ReviewReport.kt
  src/main/kotlin/com/psr/psr/review/repository/ReviewImgRepository.kt
  src/main/kotlin/com/psr/psr/review/repository/ReviewReportRepository.kt
  src/main/kotlin/com/psr/psr/review/repository/ReviewRepository.kt
  src/main/kotlin/com/psr/psr/review/service/ReviewService.kt
Labels: 🔮 feat, ☀️ seoyeon, 💬 reviews

#84 [feat] 리뷰 삭제 API 생성
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/order/entity/Order.kt
  src/main/kotlin/com/psr/psr/review/controller/ReviewController.kt
  src/main/kotlin/com/psr/psr/review/entity/Review.kt
  src/main/kotlin/com/psr/psr/review/entity/ReviewImg.kt
  src/main/kotlin/com/psr/psr/review/repository/ReviewImgRepository.kt
  src/main/kotlin/com/psr/psr/review/repository/ReviewRepository.kt
  src/main/kotlin/com/psr/psr/review/service/ReviewService.kt
Labels: 🔮 feat, ☀️ seoyeon, 💬 reviews

#89 [rename] imgKey -> imgUrl 변경
  src/main/kotlin/com/psr/psr/cs/dto/NoticeRes.kt
  src/main/kotlin/com/psr/psr/cs/dto/assembler/CsAssembler.kt
  src/main/kotlin/com/psr/psr/cs/entity/Notice.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderAssembler.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderListRes.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetProductsByUserRes.kt
  src/main/kotlin/com/psr/psr/product/dto/response/MyProduct.kt
  src/main/kotlin/com/psr/psr/product/dto/response/PopularProductDetail.kt
  src/main/kotlin/com/psr/psr/product/dto/response/ProductDetail.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductImg.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductRepositoryImpl.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewAssembler.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewListRes.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewReportReq.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewReq.kt
  src/main/kotlin/com/psr/psr/review/entity/ReviewImg.kt
  src/main/kotlin/com/psr/psr/review/entity/ReviewReport.kt
  src/main/kotlin/com/psr/psr/user/dto/MyPageInfoRes.kt
  src/main/kotlin/com/psr/psr/user/dto/ProfileReq.kt
  src/main/kotlin/com/psr/psr/user/dto/ProfileRes.kt
  src/main/kotlin/com/psr/psr/user/dto/SignUpReq.kt
  src/main/kotlin/com/psr/psr/user/dto/assembler/UserAssembler.kt
  src/main/kotlin/com/psr/psr/user/entity/User.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: ☀️ seoyeon, 🎀 chore

#91 [feat] 상품 상세 조회 - 상품 API
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetProductDetailRes.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductImgRepository.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductLikeRepository.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
Labels: 🔮 feat, 😽 sojung, 🛍️ products

#94 [feat] 리뷰 개별 조회 API
  src/main/kotlin/com/psr/psr/review/controller/ReviewController.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewAssembler.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewRes.kt
  src/main/kotlin/com/psr/psr/review/service/ReviewService.kt
Labels: 🔮 feat, ☀️ seoyeon, 💬 reviews

#96 [feat] 찜 목록 API
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetLikeProductsRes.kt
  src/main/kotlin/com/psr/psr/product/dto/response/MyProduct.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductLikeRepository.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
Labels: 🔮 feat, 😽 sojung, 🛍️ products

#98 [feat] 휴대폰 문자 인증 API
  build.gradle.kts
  src/main/kotlin/com/psr/psr/global/Constant.kt
  src/main/kotlin/com/psr/psr/global/config/WebSecurityConfig.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/global/jwt/utils/JwtUtils.kt
  src/main/kotlin/com/psr/psr/user/controller/UserController.kt
  src/main/kotlin/com/psr/psr/user/dto/assembler/UserAssembler.kt
  src/main/kotlin/com/psr/psr/user/dto/phoneReq/MessageReq.kt
  src/main/kotlin/com/psr/psr/user/dto/phoneReq/SMSReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/ChangePasswordReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/CheckNicknameReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/LoginReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/ProfileReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/ResetPasswordReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/SignUpReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/UserEidReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/UserInterestListReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/UserInterestReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/ValidPhoneReq.kt
  src/main/kotlin/com/psr/psr/user/dto/response/MyPageInfoRes.kt
  src/main/kotlin/com/psr/psr/user/dto/response/ProfileRes.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
  src/main/resources/application.yaml
Labels: 🔮 feat, 🐣 chae-eun, 🌿 refactor, 👩🏻‍💻 users

#99 [feat] Enum 검증 @enumValid 추가 및 상품 신고 API
  src/main/kotlin/com/psr/psr/global/entity/ReportCategory.kt
  src/main/kotlin/com/psr/psr/global/resolver/EnumType.kt
  src/main/kotlin/com/psr/psr/global/resolver/EnumValid.kt
  src/main/kotlin/com/psr/psr/global/resolver/EnumValidator.kt
  src/main/kotlin/com/psr/psr/global/resolver/EnumValue.kt
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/dto/request/ReportProductReq.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductReport.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductReportRepository.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
Labels: 🔮 feat, 😽 sojung, 🛍️ products

#104 [feat] 이메일 찾기 + 비밀번호 변경을 위한 인증 화면
  src/main/kotlin/com/psr/psr/global/config/WebSecurityConfig.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/user/controller/UserController.kt
  src/main/kotlin/com/psr/psr/user/dto/assembler/UserAssembler.kt
  src/main/kotlin/com/psr/psr/user/dto/request/FindIdPwReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/SignUpReq.kt
  src/main/kotlin/com/psr/psr/user/dto/response/EmailRes.kt
  src/main/kotlin/com/psr/psr/user/entity/User.kt
  src/main/kotlin/com/psr/psr/user/repository/UserRepository.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🔮 feat, 🐣 chae-eun, 👩🏻‍💻 users

#109 [feat] 홈 화면 조회 API
  src/main/kotlin/com/psr/psr/cs/controller/CsController.kt
  src/main/kotlin/com/psr/psr/cs/dto/NoticeRes.kt
  src/main/kotlin/com/psr/psr/cs/dto/assembler/CsAssembler.kt
  src/main/kotlin/com/psr/psr/cs/repository/NoticeRepository.kt
  src/main/kotlin/com/psr/psr/cs/service/CsService.kt
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetHomePageRes.kt
  src/main/kotlin/com/psr/psr/product/dto/response/MainProduct.kt
  src/main/kotlin/com/psr/psr/product/dto/response/MainTopProduct.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductRepository.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
  src/main/kotlin/com/psr/psr/user/entity/User.kt
  src/main/kotlin/com/psr/psr/user/repository/UserRepository.kt
Labels: 🔮 feat, 😽 sojung, 🛍️ products

#115 [feat] 관심 목록 조회 API
  src/main/kotlin/com/psr/psr/cs/controller/CsController.kt
  src/main/kotlin/com/psr/psr/global/config/OpenEntityManagerConfig.kt
  src/main/kotlin/com/psr/psr/user/controller/UserController.kt
  src/main/kotlin/com/psr/psr/user/dto/UserInterestDto.kt
  src/main/kotlin/com/psr/psr/user/dto/UserInterestListDto.kt
  src/main/kotlin/com/psr/psr/user/dto/assembler/UserAssembler.kt
  src/main/kotlin/com/psr/psr/user/dto/request/SignUpReq.kt
  src/main/kotlin/com/psr/psr/user/dto/request/UserInterestListReq.kt
  src/main/kotlin/com/psr/psr/user/dto/response/ProfileRes.kt
  src/main/kotlin/com/psr/psr/user/entity/User.kt
  src/main/kotlin/com/psr/psr/user/repository/UserRepository.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🔮 feat, 🐣 chae-eun, 🕸️ fix, 👩🏻‍💻 users

#119 [feat] 상품 찜 API
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/dto/response/PopularProductDetail.kt
  src/main/kotlin/com/psr/psr/product/dto/response/ProductDetail.kt
  src/main/kotlin/com/psr/psr/product/entity/Product.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductLike.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductLikeRepository.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductRepositoryImpl.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
Labels: 🔮 feat, 😽 sojung, 🕸️ fix, 🛍️ products

#121 [feat] 상품 등록 API & HttpMessageNotReadableException 에러 핸들링
  src/main/kotlin/com/psr/psr/global/exception/ExceptionHandler.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderAssembler.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/dto/request/CreateproductReq.kt
  src/main/kotlin/com/psr/psr/product/entity/Product.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductImg.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewAssembler.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewRes.kt
  src/main/kotlin/com/psr/psr/review/service/ReviewService.kt
  src/main/kotlin/com/psr/psr/user/entity/Category.kt
Labels: 🔮 feat, 😽 sojung, 🛍️ products

#123 [fix] avgOfRating 필드 NaN -> 0.0으로 반환 수정
  src/main/kotlin/com/psr/psr/review/dto/ReviewAssembler.kt
Labels: 😽 sojung, 🕸️ fix, 💬 reviews

#125 [feat] 상품 삭제 API
  src/main/kotlin/com/psr/psr/global/entityListener/BeanUtils.kt
  src/main/kotlin/com/psr/psr/global/entityListener/ProductEntityListener.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/entity/Product.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductImg.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductLike.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductImgRepository.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductLikeRepository.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
Labels: 🔮 feat, 😽 sojung, 🛍️ products

#126 [fix] 요청 목록 조회 res 변경
  src/main/kotlin/com/psr/psr/order/dto/OrderAssembler.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderListRes.kt
  src/main/kotlin/com/psr/psr/order/entity/Order.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/review/entity/Review.kt
  src/main/kotlin/com/psr/psr/review/service/ReviewService.kt
Labels: ☀️ seoyeon, 🕸️ fix, 👩‍💻 orders

#128 [fix] 유저 상품 목록 API 로직 내 productImg null 허용
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/entity/Product.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
  src/main/kotlin/com/psr/psr/review/entity/Review.kt
  src/main/kotlin/com/psr/psr/user/entity/User.kt
Labels: 😽 sojung, 🕸️ fix, 🛍️ products

#132 [feat] 알림 목록 조회 API
  src/main/kotlin/com/psr/psr/global/config/QueryDslConfig.kt
  src/main/kotlin/com/psr/psr/notification/controller/NotificationController.kt
  src/main/kotlin/com/psr/psr/notification/dto/NotiList.kt
  src/main/kotlin/com/psr/psr/notification/dto/NotificationListRes.kt
  src/main/kotlin/com/psr/psr/notification/entity/Notification.kt
  src/main/kotlin/com/psr/psr/notification/repository/NotificationCustom.kt
  src/main/kotlin/com/psr/psr/notification/repository/NotificationRepository.kt
  src/main/kotlin/com/psr/psr/notification/repository/NotificationRepositoryImpl.kt
  src/main/kotlin/com/psr/psr/notification/service/NotificationService.kt
Labels: 🔮 feat, ☀️ seoyeon, 🔔 notifications

#134 [fix] 마이페이지 닉네임 불러오기 수정
  src/main/kotlin/com/psr/psr/user/dto/assembler/UserAssembler.kt
  src/main/kotlin/com/psr/psr/user/dto/response/MyPageInfoRes.kt
Labels: 🐣 chae-eun, 🕸️ fix, 👩🏻‍💻 users

#138 [feat] reviews cascade 설정
  src/main/kotlin/com/psr/psr/global/entityListener/ProductEntityListener.kt
  src/main/kotlin/com/psr/psr/global/entityListener/ReviewEntityListener.kt
  src/main/kotlin/com/psr/psr/review/entity/Review.kt
  src/main/kotlin/com/psr/psr/review/entity/ReviewReport.kt
  src/main/kotlin/com/psr/psr/review/repository/ReviewImgRepository.kt
  src/main/kotlin/com/psr/psr/review/repository/ReviewReportRepository.kt
Labels: 🔮 feat, ☀️ seoyeon, 💬 reviews

#141 [fix] AccessToken 시간 1분으로 변경
  src/main/kotlin/com/psr/psr/global/jwt/utils/JwtUtils.kt
Labels: 🐣 chae-eun, 🕸️ fix, 👩🏻‍💻 users

#142 [fix] 토큰 재발급시, AccessToken에서 사용자 정보를 불러오지 못하는 에러 해결
  src/main/kotlin/com/psr/psr/global/jwt/utils/JwtUtils.kt
Labels: 🐣 chae-eun, 🕸️ fix, 👩🏻‍💻 users

#146 [fix] 상품 메인 조회 API status 체크 추가
  src/main/kotlin/com/psr/psr/product/repository/ProductRepositoryImpl.kt
Labels: 😽 sojung, 🕸️ fix, 🛍️ products

#151 [feat] cascade 및 status 관리
  src/main/kotlin/com/psr/psr/chat/repository/ChatRoomRepository.kt
  src/main/kotlin/com/psr/psr/cs/entity/Faq.kt
  src/main/kotlin/com/psr/psr/cs/entity/Notice.kt
  src/main/kotlin/com/psr/psr/global/entityListener/UserEntityListener.kt
  src/main/kotlin/com/psr/psr/global/jwt/utils/JwtUtils.kt
  src/main/kotlin/com/psr/psr/order/repository/OrderRepository.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductRepository.kt
  src/main/kotlin/com/psr/psr/review/repository/ReviewRepository.kt
  src/main/kotlin/com/psr/psr/user/entity/BusinessInfo.kt
  src/main/kotlin/com/psr/psr/user/entity/User.kt
  src/main/kotlin/com/psr/psr/user/entity/UserInterest.kt
  src/main/kotlin/com/psr/psr/user/repository/BusinessInfoRepository.kt
  src/main/kotlin/com/psr/psr/user/repository/UserInterestRepository.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🔮 feat, 🐣 chae-eun, 🕸️ fix, 👩🏻‍💻 users, 👥 cs

#152 [feat] 알림 세팅 및 요청 관련 알림 구현
  .gitignore
  build.gradle.kts
  src/main/kotlin/com/psr/psr/global/Constant.kt
  src/main/kotlin/com/psr/psr/notification/dto/Data.kt
  src/main/kotlin/com/psr/psr/notification/dto/FcmMessage.kt
  src/main/kotlin/com/psr/psr/notification/dto/Message.kt
  src/main/kotlin/com/psr/psr/notification/dto/NotiAssembler.kt
  src/main/kotlin/com/psr/psr/notification/dto/Notification.kt
  src/main/kotlin/com/psr/psr/notification/entity/NotificationType.kt
  src/main/kotlin/com/psr/psr/notification/entity/PushNotification.kt
  src/main/kotlin/com/psr/psr/notification/repository/NotificationRepository.kt
  src/main/kotlin/com/psr/psr/notification/repository/NotificationRepositoryImpl.kt
  src/main/kotlin/com/psr/psr/notification/service/NotificationService.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderAssembler.kt
  src/main/kotlin/com/psr/psr/order/entity/OrderStatus.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/user/dto/assembler/UserAssembler.kt
  src/main/kotlin/com/psr/psr/user/dto/request/SignUpReq.kt
  src/main/kotlin/com/psr/psr/user/entity/User.kt
Labels: 🔮 feat, ☀️ seoyeon, 🔔 notifications

#153 [feat] 알림 관련 파이어베이스 키 서버 설정
  .github/workflows/deploy.yml
Labels: 🔮 feat, 🐣 chae-eun, 🔔 notifications

#154 [fix] firebase key action 적용 방식 변경
  .github/workflows/deploy.yml
Labels: 🐣 chae-eun, 🕸️ fix

#157 [feat] 채팅 알림 구현
  src/main/kotlin/com/psr/psr/notification/service/NotificationService.kt
Labels: 🔮 feat, ☀️ seoyeon, 🔔 notifications

#158 [feat] 2달 뒤 요청상태 입력 요망 알림 스케줄러 적용
  src/main/kotlin/com/psr/psr/PsrApplication.kt
  src/main/kotlin/com/psr/psr/notification/service/NotificationService.kt
  src/main/kotlin/com/psr/psr/order/repository/OrderRepository.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/user/dto/request/LoginReq.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🔮 feat, ☀️ seoyeon, 🔔 notifications

#162 #161 hotfix: 잘못된 jpa 쿼리 -> queryDSL로 변경
  src/main/kotlin/com/psr/psr/order/repository/OrderCustom.kt
  src/main/kotlin/com/psr/psr/order/repository/OrderRepository.kt
  src/main/kotlin/com/psr/psr/order/repository/OrderRepositoryImpl.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
Labels: ☀️ seoyeon, 🌡️ hotfix, 🔔 notifications
