Repository PSR-Co/SERVER, pull requests merged in 2023-09, with the labels that each got.

#164 [fix] 회원 탈퇴 유저, 재가입 가능 로직 수정
  src/main/kotlin/com/psr/psr/user/repository/UserRepository.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🐣 chae-eun, 🕸️ fix, 👩🏻‍💻 users

#167 [refactor] Assembler 함수 -> DTO, Entity 이전
  src/main/kotlin/com/psr/psr/cs/dto/assembler/CsAssembler.kt
  src/main/kotlin/com/psr/psr/cs/dto/response/FaqListRes.kt
  src/main/kotlin/com/psr/psr/cs/dto/response/FaqRes.kt
  src/main/kotlin/com/psr/psr/cs/dto/response/NoticeListRes.kt
  src/main/kotlin/com/psr/psr/cs/dto/response/NoticeRes.kt
  src/main/kotlin/com/psr/psr/cs/service/CsService.kt
  src/main/kotlin/com/psr/psr/global/jwt/dto/TokenDto.kt
  src/main/kotlin/com/psr/psr/user/dto/UserInterestListDto.kt
  src/main/kotlin/com/psr/psr/user/dto/assembler/UserAssembler.kt
  src/main/kotlin/com/psr/psr/user/dto/eidReq/BusinessListReq.kt
  src/main/kotlin/com/psr/psr/user/dto/phoneReq/SMSReq.kt
  src/main/kotlin/com/psr/psr/user/dto/response/EmailRes.kt
  src/main/kotlin/com/psr/psr/user/dto/response/MyPageInfoRes.kt
  src/main/kotlin/com/psr/psr/user/dto/response/ProfileRes.kt
  src/main/kotlin/com/psr/psr/user/entity/BusinessInfo.kt
  src/main/kotlin/com/psr/psr/user/entity/User.kt
  src/main/kotlin/com/psr/psr/user/entity/UserInterest.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🐣 chae-eun, 🌿 refactor

#169 [refactor] ProductAssembler 함수 -> DTO, Entity 이전, ProductService 설명 주석 추가
  src/main/kotlin/com/psr/psr/product/controller/ProductController.kt
  src/main/kotlin/com/psr/psr/product/dto/assembler/ProductAssembler.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetHomePageRes.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetLikeProductsRes.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetMyProductsRes.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetProductDetailRes.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetProductsByUserRes.kt
  src/main/kotlin/com/psr/psr/product/dto/response/GetSearchProducts.kt
  src/main/kotlin/com/psr/psr/product/dto/response/MainProduct.kt
  src/main/kotlin/com/psr/psr/product/dto/response/MainTopProduct.kt
  src/main/kotlin/com/psr/psr/product/dto/response/MyProduct.kt
  src/main/kotlin/com/psr/psr/product/entity/Product.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductImg.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductLike.kt
  src/main/kotlin/com/psr/psr/product/entity/ProductReport.kt
  src/main/kotlin/com/psr/psr/product/repository/ProductRepositoryImpl.kt
  src/main/kotlin/com/psr/psr/product/service/ProductService.kt
Labels: 😽 sojung, 🌿 refactor, 🛍️ products

#171 [refactor] user, cs domain 주석 추가
  src/main/kotlin/com/psr/psr/global/config/WebSecurityConfig.kt
  src/main/kotlin/com/psr/psr/global/jwt/JwtFilter.kt
  src/main/kotlin/com/psr/psr/global/jwt/utils/JwtUtils.kt
  src/main/kotlin/com/psr/psr/user/controller/UserController.kt
  src/main/kotlin/com/psr/psr/user/dto/request/ProfileReq.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🐣 chae-eun, 🎀 chore, 🌿 refactor, 👩🏻‍💻 users, 👥 cs

#177 [refactor] DTO 변환 메서드 Assembler -> DTO 이동 및 주석 추가
  src/main/kotlin/com/psr/psr/global/entityListener/ReviewEntityListener.kt
  src/main/kotlin/com/psr/psr/inquiry/dto/InquiryAssembler.kt
  src/main/kotlin/com/psr/psr/inquiry/dto/InquiryListRes.kt
  src/main/kotlin/com/psr/psr/inquiry/dto/InquiryRes.kt
  src/main/kotlin/com/psr/psr/inquiry/entity/Inquiry.kt
  src/main/kotlin/com/psr/psr/inquiry/service/InquiryService.kt
  src/main/kotlin/com/psr/psr/notification/dto/Data.kt
  src/main/kotlin/com/psr/psr/notification/dto/FcmMessage.kt
  src/main/kotlin/com/psr/psr/notification/dto/Message.kt
  src/main/kotlin/com/psr/psr/notification/dto/NotiAssembler.kt
  src/main/kotlin/com/psr/psr/notification/dto/Notification.kt
  src/main/kotlin/com/psr/psr/notification/entity/PushNotification.kt
  src/main/kotlin/com/psr/psr/notification/service/NotificationService.kt
  src/main/kotlin/com/psr/psr/order/controller/OrderController.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderAssembler.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderListRes.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderRes.kt
  src/main/kotlin/com/psr/psr/order/entity/Order.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/review/dto/GetProductDetailRes.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewAssembler.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewDetailTop.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewListRes.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewRes.kt
  src/main/kotlin/com/psr/psr/review/entity/Review.kt
  src/main/kotlin/com/psr/psr/review/entity/ReviewImg.kt
  src/main/kotlin/com/psr/psr/review/entity/ReviewReport.kt
  src/main/kotlin/com/psr/psr/review/service/ReviewService.kt
Labels: ☀️ seoyeon, 🌿 refactor

#179 [fix] 1차 QA 수정사항 변경
  src/main/kotlin/com/psr/psr/global/Constant.kt
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/order/controller/OrderController.kt
  src/main/kotlin/com/psr/psr/order/dto/OrderListRes.kt
  src/main/kotlin/com/psr/psr/order/entity/Order.kt
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
  src/main/kotlin/com/psr/psr/review/controller/ReviewController.kt
  src/main/kotlin/com/psr/psr/review/dto/ReviewListRes.kt
  src/main/kotlin/com/psr/psr/review/service/ReviewService.kt
Labels: ☀️ seoyeon, 🕸️ fix, 👩‍💻 orders, 💬 reviews

#181 [fix] 구매자도 요청취소 가능하게 변경
  src/main/kotlin/com/psr/psr/order/service/OrderService.kt
Labels: ☀️ seoyeon, 🕸️ fix, 👩‍💻 orders

#183 [fix] 관리자 회원가입 제외 예외처리
  src/main/kotlin/com/psr/psr/global/exception/BaseResponseCode.kt
  src/main/kotlin/com/psr/psr/user/repository/UserRepository.kt
  src/main/kotlin/com/psr/psr/user/service/UserService.kt
Labels: 🐣 chae-eun, 🕸️ fix, 👩🏻‍💻 users
